@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="onderdeger">
    <h1 class="display-4">Miuul 💜 Azure</h1>
    <p>Example .NEt app to Azure App Service</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
